<%= render 'creatives/navbar' %>

<header id="header_city_omg">
  <div class="header-content">
    <div class="header-content-inner" id="title_cities">
      <h1><%= @title %></h1>
      <hr>
      <p>Located in <%= @city_name %></p>
  </div>
</header>

<h3>Description of <%= @title %></h3>
<p id="img_city"></p>
<p id="info"></p>
<script>

 function gContent(){
	function Get(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
	}
	
	var json_obj = JSON.parse(Get("https://pure-coast-27115.herokuapp.com/data/attraction/" + <%= @attraction_id %>));
	console.log(json_obj);

	data = json_obj["data"];

     var y = "<img src=" + "\"" + data[0].photoURL + "\""+ ">";
     console.log(y);
//     $("#img_city").append(y);
     document.getElementById("img_city").innerHTML= y;

     var x = "<p>" + data[0].description + "</p>";
     console.log(x);
//     $("#info").append(x);
     document.getElementById("info").innerHTML= x;

}
</script>

<script> window.onload=gContent(); </script>