<%= render 'creatives/navbar' %>
<header>
  <div class="header-content">
    <div class="header-content-inner">
<% if @user&&@user.isAdmin %>
<h1>New City</h1>
<%= render 'form', city: @city %>
<%= link_to 'Back', cities_path %>
<% else %>
 <% if flash[:success] %>
        <div class="success" align="center" ><font size="5"><%= flash[:success] %></font></div>
    <% end %>
 <%= link_to "back", root_path %>
 <% end %>
</div>
</div>
</header>
